<header class="header">
  <div class="header__conteudo">
    <img
      src="../assets/images/aluraLogo.svg"
      class="header__conteudo__logo"
      alt="logo Alura"
    />

    <div class="search">
      <p>O que você quer aprender?</p>
    </div>

    <div class="menu">
      <ul class="ul-menu">
        <li class="li-button-menu">
          <button>NOSSAS FORMAÇÕES</button>
        </li>
        <li class="li-button-menu">
          <button>PARA EMPRESAS</button>
        </li>
        <li class="li-button-menu">
          <button>DEVE EM T</button>
        </li>
        <li class="li-button-menu">
          <button>ENTRAR</button>
        </li>
        <li class="li-button-menu">
          <button>MATRICULE-SE</button>
        </li>
      </ul>
    </div>
  </div>
</header>
